
body {
    font-family: 'Nunito Sans', sans-serif;
    padding-top: 3%; /* Ajuste para el Navbar fijo */       
    background-color:#2d6a4fc4;;
}
@media screen and (max-width: 1500px) {
  body {
    padding-top: 14%; /* Ajuste para el Navbar fijo */ 
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;           
  } 
}
.container {
  background-color: #f8f8f8;
  border-width: 10cm;
}

h3 {
  text-align: center;
  font-weight:bold;
}
.titulos {
  padding-top: 10%;
}
/*ESTILO BANDERA NAV BAR------------------------------------------------------------------------------------------------------------*/
.bendera {
  height: auto; /* Mantiene la proporción de la imagen */
  width: 2.5rem;
  padding-right: 1%;
}
@media screen and (max-width:500px) {
 #CordobaArgentina{
  display: none;
 }
}

.nav-item:hover {    
    background-color: #2d6a4fbe;
    color: black;
}
.navbar {
  background-color:#2d6a4fbe;
  padding-left: 15%;
  padding-right: 15%;
}

.dropdown-menu{
  background-color: #2d6a4fbe;
  
  
}
.dropdown-item:hover {
  background-color: #2d6a4fbe;
  color: white;
}
.dropdown-item {
  color: #f8f8f8;
}
/* ESTILO DE INICIO--------------------------------------------------------------------------------------------------------------*/
.imagenDePerfil {
  width: 25%;
  border-radius: 50%;
  justify-self: center;
  position:relative;
  float: left;
}

.contenedor {
  display: flex;
  align-items: center; 
}

#nombre {
  z-index: 10;
  color: #0f0f0f;
  padding-left: 3%;
}

/* ESTILO EXPERIENCIAS---------------------------------------------------------------------------------------------------------------*/
 @media screen and (max-width:500px) {
  .contenedor-experiencia{
   text-align: left;
  }
 } 


.contenedor-experiencia {
  display: flex;
  border-bottom: 1px solid #ccc; /* Definir un borde inferior gris */
  padding-top: 3%;
  padding-bottom: 1%;
}

.columna-experiencia-detalle {
  /* flex: 100; Ocupa todo el espacio disponible */
  padding: 10px; /* Añade un espacio alrededor del contenido */
 
}

.columna-experiencia-imagen {
  max-width: 100%; /* Asegura que la imagen no supere el ancho del contenedor */
  height: auto; /* Mantiene la proporción de la imagen */
  width: 150px;
  padding-right: 10%;
}

.experiencia-puesto{
  font-size: large;
  font-weight: bold;
}

.experiencia-periodo{
color: rgb(110, 103, 103);
}

.experiencia-ubicacion{
color: rgb(110, 103, 103);
}

.imagen-experiencia{
  height: auto;
  width: 100px;
}

/* ESTILO EDUCACION---------------------------------------------------------------------------------------------------------------*/
.contenedor-educación{
  display: flex;
  border-bottom: 1px solid #ccc; /* Definir un borde inferior gris */
  padding-top: 10px;
}

.columna-educación-detalle {
  /* flex: 100; Ocupa todo el espacio disponible */
  padding: 10px; /* Añade un espacio alrededor del contenido */
 
}

.columna-educación-imagen {
  max-width: 100%; /* Asegura que la imagen no supere el ancho del contenedor */
  height: auto; /* Mantiene la proporción de la imagen */
  width: 150px;
  padding-bottom: 30px;
}

.imagen-educacion{
  height: auto;
  width: 100px;
}

/* ESTILO CURSOS---------------------------------------------------------------------------------------------------------------*/
.contenedor-cursos{
  display: flex;
  border-bottom: 1px solid #ccc; /* Definir un borde inferior gris */
  padding-top: 10px;
}

.columna-cursos-detalle {
  /* flex: 100; Ocupa todo el espacio disponible */
  padding: 10px; /* Añade un espacio alrededor del contenido */
 
}

.columna-cursos-imagen {
  max-width: 100%; /* Asegura que la imagen no supere el ancho del contenedor */
  height: auto; /* Mantiene la proporción de la imagen */
  width: 150px;
  padding-bottom: 3%;
}

.imagen-cursos{
  height: auto;
  width: 100px;
}

/*ESTILO DE SKILL*/
.section-skill {
  text-align: center;
}
.logos{
  max-width: 100%; /* Asegura que la imagen no supere el ancho del contenedor */
  height: auto; /* Mantiene la proporción de la imagen */
  width: 7%;
  padding-bottom: 3%;
  padding-top: 3%;
  
}

.logoSqlServer{
  margin-left: 2%;
  max-width: 100%; /* Asegura que la imagen no supere el ancho del contenedor */
  height: auto; /* Mantiene la proporción de la imagen */
  width: 7%;
  padding-bottom: 3%;
  padding-top: 3%;
}

.logoJquery{
  margin-left: -1%;
  max-width: 100%; /* Asegura que la imagen no supere el ancho del contenedor */
  height: auto; /* Mantiene la proporción de la imagen */
  width: 9%;
  padding-bottom: 3%;
  padding-top: 3%;
}

.logobootstrap{
  max-width: 100%; /* Asegura que la imagen no supere el ancho del contenedor */
  height: auto; /* Mantiene la proporción de la imagen */
  width: 9%;
  padding-bottom: 3%;
  padding-top: 3%;

}

/*ESTILO DE SECCION DE EJEMPLOS------------------------------------------------------------------------------------------------*/
/* @media screen and (max-width:500px) {
  #CordobaArgentina{
   display: none;
  }
 } */
 @media screen and (max-width:1270px) {
  .col-md-3 {
    width: 18rem;


  
}}

.logosCards {
  max-width: 100%; /* Asegura que la imagen no supere el ancho del contenedor */
  height: auto; /* Mantiene la proporción de la imagen */
  width: 20%;
}
#textoCompletoOculto {
  display: none;
  cursor: pointer;
}

#verMas {
  color: blue;
  cursor: pointer;
}

.imagenBackend {
  max-width: 76%;
  padding-left: 20%;
  padding-top: 10%;
  padding-bottom: 10%;
}


/*ESTILO DE CARRUSEL-----------------------------------------------------------------------------------------------------------*/
#carouselwithIndicators {
  width: 100%; /* Ajusta el ancho del carrusel según tus necesidades */
  margin: 0 auto; /* Centra el carrusel horizontalmente en la página */
}

.carousel-inner {
  height: 300%; /* Ajusta la altura del carrusel según tus necesidades */
}

.carousel-item img {
  object-fit: cover; /* Ajusta la imagen para que cubra el espacio asignado */
  width: 50%; /* Haz que todas las imágenes ocupen el ancho completo del contenedor */
  height: 100%; /* Asegura que todas las imágenes tengan la misma altura */
}
.custom-section-sitiosConsulta {
  text-align: center;
}

.galeriaPrueba {
  text-align: center;
  margin-top: 5%;
  width: 100%;
  height: auto;
}

.galeriaPrueba img {
  width:  30%;
  flex-grow: 1;
  object-fit: cover;
  opacity: .8;
  transition: .5s ease;

}

.galeriaPrueba img:hover {
  margin-top: auto;
  margin-bottom: auto;
  cursor: pointer;
  width: 50%;
  opacity: 1;
  filter: contrast(120%);
}

/* ESTILO SECCION CONTACTO---------------------------------------------------------------------------------------------------------------*/
.infoContacto {
  margin-bottom: auto;
  margin-top: auto;
  text-align: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 15%;

}

.infoContacto img:hover {
  margin-top: auto;
  margin-bottom: auto;
  /* cursor: pointer; */
  width: 10%;
  opacity: 1;
  filter: contrast(120%);

}   

.imagenGmail {  
  transition: .5s ease;
  width: 15%;
  padding-bottom: 1%;
  padding-top: 1%;
  padding-left: 2%;
  padding-right: 2%;
  border-radius: 10%;
  border-color: #0f0f0f;
  border-style:groove;
  
}
.imagenWhatsapp {
  transition: .5s ease;
  max-width: 100%; 
  width: 15%;
  padding-bottom: 1%;
  padding-top: 1%;
  padding-left: 2%;
  padding-right: 2%;
  border-radius: 10%;
  border-color: #0f0f0f;
  border-style:groove;
}
.imagenLinkedin {
  transition: .5s ease;
  max-width: 100%; 
  width: 15%;
  padding-bottom: 1%;
  padding-top: 1%;
  padding-left: 2%;
  padding-right: 2%;
  border-radius: 10%;
  border-color: #0f0f0f;
  border-style:groove;
} 

