body{
    font-family: 'Nunito Sans', sans-serif;
}

body {
  padding-top: 56px; /* Ajuste para el Navbar fijo */
}

p {
  margin-bottom: 0rem;
}

/* ESTILO BARRA DE SECCIONES--------------------------------------------------------------------------------------------------------*/
.nav-item:hover {    
  
    background-color: #91d2e4; /* Cambiar el color de fondo del enlace activo y al pasar el ratón  */
}

.nav-link.active {
    background-color: #91d2e4; /* Cambiar el color de fondo del enlace activo y al pasar el ratón  */
}

.navbar-nav .nav-item:hover .nav-link {
    color: #fff;  
}

/* ESTILO EXPERIENCIAS---------------------------------------------------------------------------------------------------------------*/
.contenedor-experiencia {
  display: flex;
  border-bottom: 1px solid #ccc; /* Definir un borde inferior gris */
  padding-top: 3%;
  padding-bottom: 0%;
}

.columna-experiencia-detalle {
  /* flex: 100; Ocupa todo el espacio disponible */
  padding: 10px; /* Añade un espacio alrededor del contenido */
 
}

.columna-experiencia-imagen {
  max-width: 100%; /* Asegura que la imagen no supere el ancho del contenedor */
  height: auto; /* Mantiene la proporción de la imagen */
  width: 150px;
  padding-right: 10%;
}

.experiencia-puesto{
  font-size: large;
  font-weight: bold;
}

.experiencia-periodo{
color: rgb(110, 103, 103);
}

.experiencia-ubicacion{
color: rgb(110, 103, 103);
}

.imagen-experiencia{
  height: auto;
  width: 100px;
}

/* ESTILO EDUCACION---------------------------------------------------------------------------------------------------------------*/
.contenedor-educación{
  display: flex;
  border-bottom: 1px solid #ccc; /* Definir un borde inferior gris */
  padding-top: 10px;
}

.columna-educación-detalle {
  /* flex: 100; Ocupa todo el espacio disponible */
  padding: 10px; /* Añade un espacio alrededor del contenido */
 
}

.columna-educación-imagen {
  max-width: 100%; /* Asegura que la imagen no supere el ancho del contenedor */
  height: auto; /* Mantiene la proporción de la imagen */
  width: 150px;
  padding-bottom: 30px;
}

.imagen-educacion{
  height: auto;
  width: 100px;
}

/* ESTILO CURSOS---------------------------------------------------------------------------------------------------------------*/
.contenedor-cursos{
  display: flex;
  border-bottom: 1px solid #ccc; /* Definir un borde inferior gris */
  padding-top: 10px;
}

.columna-cursos-detalle {
  /* flex: 100; Ocupa todo el espacio disponible */
  padding: 10px; /* Añade un espacio alrededor del contenido */
 
}

.columna-cursos-imagen {
  max-width: 100%; /* Asegura que la imagen no supere el ancho del contenedor */
  height: auto; /* Mantiene la proporción de la imagen */
  width: 150px;
  padding-bottom: 3%;
}

.imagen-cursos{
  height: auto;
  width: 100px;
}

/*ESTILO DE SKILL*/

.logos{
  max-width: 100%; /* Asegura que la imagen no supere el ancho del contenedor */
  height: auto; /* Mantiene la proporción de la imagen */
  width: 7%;
  padding-bottom: 3%;
  padding-top: 3%;
  
}

.backendlogos{
  /*padding-left:*/ 
}

.logoSqlServer{
  margin-left: 2%;
  max-width: 100%; /* Asegura que la imagen no supere el ancho del contenedor */
  height: auto; /* Mantiene la proporción de la imagen */
  width: 7%;
  padding-bottom: 3%;
  padding-top: 3%;
}

.logoJquery{
  margin-left: -1%;
  max-width: 100%; /* Asegura que la imagen no supere el ancho del contenedor */
  height: auto; /* Mantiene la proporción de la imagen */
  width: 9%;
  padding-bottom: 3%;
  padding-top: 3%;
}

.logobootstrap{
  max-width: 100%; /* Asegura que la imagen no supere el ancho del contenedor */
  height: auto; /* Mantiene la proporción de la imagen */
  width: 9%;
  padding-bottom: 3%;
  padding-top: 3%;

}

/*ESTILO DE SECCION DE EJEMPLOS------------------------------------------------------------------------------------------------*/
.logosCards{
  max-width: 100%; /* Asegura que la imagen no supere el ancho del contenedor */
  height: auto; /* Mantiene la proporción de la imagen */
  width: 20%;
  padding-bottom: 3%;
  padding-top: 3%;

}
#textoCompletoOculto {
  display: none;
  cursor: pointer;
}

#verMas {
  color: blue;
  cursor: pointer;
}
/*ESTILO DE CARRUSEL-----------------------------------------------------------------------------------------------------------*/
#carouselwithIndicators {
  width: 100%; /* Ajusta el ancho del carrusel según tus necesidades */
  margin: 0 auto; /* Centra el carrusel horizontalmente en la página */
}

.carousel-inner {
  height: 300%; /* Ajusta la altura del carrusel según tus necesidades */
}

.carousel-item img {
  object-fit: cover; /* Ajusta la imagen para que cubra el espacio asignado */
  width: 50%; /* Haz que todas las imágenes ocupen el ancho completo del contenedor */
  height: 100%; /* Asegura que todas las imágenes tengan la misma altura */
}




/* ESTILO secciones---------------------------------------------------------------------------------------------------------------*/
/*
.custom-section-ejemplo {
  margin-bottom: 1600px
}
.custom-section {
  margin-bottom: 1600px
}
.custom-section{
  margin-bottom: 1600px
}
*/






/*
.nav-link.active:hover {
    color: #fff;  
}
*/

/*.navbar-nav .nav-dropdown:hover {
  color: #91d2e4; /* Cambiar el color al pasar el ratón sobre el enlace 
}/*

.navbar-nav .nav-dropdown-item.active,
.navbar-nav .nav-dropdown.active:hover {
  color: #fff; /* Cambiar el color del enlace activo y al pasar el ratón 
  background-color: #91d2e4; /* Cambiar el color de fondo del enlace activo y al pasar el ratón 
}

/* .nav-link.active {
    background-color: #91d2e4;
} */
